package pages

import (
	"github.com/GoEnterpricePlatform/goEP-core/web/web-app/src/ui/layouts"
	// "github.com/GoEnterpricePlatform/goEP-core/web/web-app/resources"
)

templ GoepAdminPage() {
	@layouts.BaseLayout("goep admin", GoepAdminContent())
}

templ GoepAdminContent() {
	<h1>GoEp admin page</h1>	
}
	