package components

templ DashboardHeader() {
	<header class="sticky top-0 z-40 flex h-16 items-center justify-between border-b border-zinc-200 bg-white/95 px-6 backdrop-blur">

		<div>
			<h1 class="text-sm font-semibold text-zinc-900">
				Dashboard
			</h1>
		</div>

		<div class="flex items-center gap-3">
			/* We will need it later to log out or put the user icon */
			/* <button
				type="button"
				class="rounded-lg px-3 py-2 text-sm font-medium text-zinc-600 hover:bg-zinc-100 hover:text-black"
			>
				Profile
			</button> */

		</div>

	</header>
}